{% extends 'base.html'%}
{% load static %}
{% block content %}

            <article class="promo container">
                <div class="promo-content">
                    <h1>Glass</h1>
                    <p>Думаете, вам не нужно обращаться к окулисту, потому что у вас прекрасное зрение? Подумайте еще раз.</p>
                    <a class="btn" href="{% url 'record' %}">Записаться</a>
                </div>
                <img class="promo-img" src="{% static 'img/10_client_background.png' %}" alt="фотография очков на столе">
            </article>
            <section class="container">
                <h2>Услуги</h2>
                <ul class="services-cards">
                    <li class="services-card">
                        <div class="card-content">
                            <span class="card-title">Диагностические услуги</span>
                            <div class="card-arrow"></div>
                            <div class="card-description">
                                <ul class="price-list">
                                    <li class="price-item">
                                        <p class="price-item-title">Консультация терапевта</p>
                                        <span class="price-item-price">1000 ₽</span>
                                    </li>
                                    <li class="price-item">
                                        <p class="price-item-title">Консультация хирурга</p>
                                        <span class="price-item-price">1500 ₽</span>
                                    </li>
                                    <li class="price-item">
                                        <p class="price-item-title">Повторный прием</p>
                                        <span class="price-item-price">500 ₽</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="services-card">
                        <div class="card-content">
                            <span class="card-title">Микрохирургия глаза</span>
                            <div class="card-arrow"></div>
                            <div class="card-description">
                                <ul class="price-list">
                                    <li class="price-item">
                                        <p class="price-item-title">Артифакия</p>
                                        <span class="price-item-price">18 000 ₽</span>
                                    </li>
                                    <li class="price-item">
                                        <p class="price-item-title">Лазерная Иридэктомия (1 глаз)</p>
                                        <span class="price-item-price">6 000 ₽</span>
                                    </li>
                                    <li class="price-item">
                                        <p class="price-item-title">Профилактическая периферическая лазеркоагуляция</p>
                                        <span class="price-item-price">6 000 ₽</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="services-card">
                        <div class="card-content">
                            <span class="card-title">Лазерная коррекция глаза</span>
                            <div class="card-arrow"></div>
                            <div class="card-description">
                                <ul class="price-list">
                                    <li class="price-item">
                                        <p class="price-item-title">по методике ЛАСИК1 </p>
                                        <span class="price-item-price">22 000 ₽</span>
                                    </li>
                                    <li class="price-item">
                                        <p class="price-item-title">по методике ЛАСИК2 </p>
                                        <span class="price-item-price">24 000 ₽</span>
                                    </li>
                                    <li class="price-item">
                                        <p class="price-item-title">по методике ЛАСИК3 </p>
                                        <span class="price-item-price">26 000 ₽</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="services-card">
                        <div class="card-content">
                            <span class="card-title">Лечение катаракты</span>
                            <div class="card-arrow"></div>
                            <div class="card-description">
                                <ul class="price-list">
                                    <li class="price-item">
                                        <p class="price-item-title">Замена хрусталика</p>
                                        <span class="price-item-price">21 500 ₽</span>
                                    </li>
                                    <li class="price-item">
                                        <p class="price-item-title">Имплантация ИОЛ</p>
                                        <span class="price-item-price">5 000 ₽</span>
                                    </li>
                                    <li class="price-item">
                                        <p class="price-item-title">Факоэмульсификация катаракты</p>
                                        <span class="price-item-price">16 500 ₽</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="container">
                <h2>Полезно знать</h2>
                <ul class="news-cards">
                    <li class="news-card">
                        <img src="{% static 'img/stress-1.jpg' %}" alt="Человек за компьютером">
                        <div class="news-card-content">
                            <span>Насколько сильно компьютер влияет на глаза?</span>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore sapiente sunt temporibus deserunt harum minus, recusandae excepturi vel fuga quos ducimus aliquam soluta eum sit atque iure in incidunt repellendus.</p>
                        </div>
                    </li>
                    <li class="news-card">
                        <img src="{% static 'img/stress-1.jpg' %}" alt="Человек за компьютером">
                        <div class="news-card-content">
                            <span>Насколько сильно компьютер влияет на глаза?</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis nisi rerum voluptatum vitae dolor atque ullam molestiae nesciunt repellat quos quod, totam et rem minus hic assumenda sunt officia est.</p>
                        </div>
                    </li>
                    <li class="news-card">
                        <img src="{% static 'img/stress-1.jpg' %}" alt="Человек за компьютером">
                        <div class="news-card-content">
                            <span>Насколько сильно компьютер влияет на глаза?</span>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam ducimus, possimus in voluptate fugiat error porro distinctio ad maxime aliquid sit itaque eligendi vitae quae saepe ab provident, ullam pariatur!</p>
                        </div>
                    </li>
                </ul>
            </section>
{% endblock %}