{% extends 'base.html'%}
{% load static %}
{% block content %}
            <article class="promo container record">
                <h1 class="record-title">Записаться на приём</h1>
            </article>
            <section class="container">
                <form method="post" class="record-form">
                    {% csrf_token %}
                    <h3>Запишитесь на приём</h3>
                    <label for="date">Выберите дату*</label>
                    <input id="date" type="date" name="date">
                    <label for="recordTo">Выберите цель записи*</label>
                    <select id="recordTo" name="goal" required>
                        <option>Не выбрано</option>
                        {% for ser in object_list %}<option value="{{ ser.name }}">{{ ser.name }}</option> {% endfor %}
                    </select>
                    <label for="recordTo">Напишите комментарии</label>
                    <textarea id="comment" name="comments" cols="30" rows="3" placeholder="Сообщение"></textarea>
                    <button class="btn" type="submit">Записаться на приём</button>
                </form>
            </section>
{% endblock %}