{% extends 'base.html'%}
{% load static %}
{% block content %}
            <section class="container">
                <h2>Регистрация</h2>
                <form class="auth"  method="post">
                    {% csrf_token %}
                    <input type="text" name="first_name" placeholder="Имя">
                    <input type="text" name="last_name" placeholder="Фамилия">
                    <input type="text" name="username" placeholder="Логин">
                    <input type="email" name="email" placeholder="Электронная почта">
                    <input type="text" name="code" placeholder="Код для сотрудника">
                    <input type="password" name="password" placeholder="Пароль">
                    <input type="password" name="password2" placeholder="Повторите пароль">
                    <button class="btn">Зарегестрироваться</button>
                    <p>Уже есть аккаунт?<br><a href="{% url 'signup' %}">Авторизируйтесь</a></p>
                </form>
            </section>
            {% endblock %}